<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.djvudroid" android:versionCode="11" android:versionName="2.6">
    <uses-sdk android:minSdkVersion="3"/>
    <application android:icon="@drawable/icon" android:label="DjvuDroid" android:debuggable="true">
        <activity android:name=".DjvuViewerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="image/djvu" />
            </intent-filter>
        </activity>
        <activity android:name=".DjvuBrowserActivity" android:label="DjvuDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
